<!DOCTYPE html>
<html lang="en">
	<head>
		{% include 'html/head.html' %}
	</head>
	<body>
		<header>
			{% include 'html/header.html' %}
		</header>

		<div class="main">
			{% if form.errors %}
		    	<p class="error">Sorry, that's not a valid username or password</p>
		  	{% endif %}

		  	<form action="/customer/loginPost/" method="post">
			  	<table>
			  		{{ form.as_table }}
			  	</table>
			  	{% csrf_token %}
			  	<input type="submit" value="Login">
		  	</form>
		</div>

		<footer>
			{% include 'html/footer.html' %}
		</footer>
	</body>
</html>